<div class="store-container">
    <div id="store-products-container">
      <%= render 'store/products' %>
    </div>
</div>

<script>
  function clickSubmit() {
    console.log('key was pressed');
    document.getElementById("search_submit").click();
  }
</script>